@font-face {
  font-family: 'Nunito Light';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('Nunito-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito Light Italic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('Nunito-LightItalic.ttf') format('truetype');
}

body {
	font-family: 'Nunito Light', sans-serif;
	max-width: 1000px;
	padding: 2em;
	margin: 0 auto;
	color: #505050;
	font-size: 17px;
}

#toolName {
	text-align: center;
	margin: 0.5em 0 2em 0;
	font-size: 1.6em;
}

#toolLogo {
	display: block;
	margin: 0 auto;
	width: 90%;
	max-width: 400px;
}

#input, #output-src, #output-doc-src{
	width: 100%;
	height: 20em;
}

#output-html {
	width: calc(100%-2em);
	border: 1px solid #d7d7d7;
	margin: 2em 0 2em 0;
	padding: 1em;
}

#createTOC {
	display: block;
	width: 250px;
	background-color: #72c832;
	color: #243f10;
	font-size: 1.5em;
	padding: 0.6em;
	margin: 1em auto;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

#createTOC:hover {
	box-shadow: 0 0 6px #aaa;
}

.warning {
	font-size: 1.5em;
	color: #BB1111;
	text-align: center;
}

input[type=text] {
	width: 100%;
}

#attribution {
	text-align: center;
	margin-top: 5em;
	font-size: 0.7em;
}